/* STYLE SECTIONING TAGS */
* { /* Reset the space of the webpage */
   margin: 0px;
   padding: 0px;
   min-height:100%; /*this was added to make the gradient fill the full page*/
}

body {
  background-image: linear-gradient(#85d8ce, #1f7fb2);
  text-align: center;
  font-family: Mulish; 
  color: #08325e;
}

main {
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 20%;
  margin-left: 20%;
  text-align: center;
}


/* STYLE TEXT */
/*.coverQuestions {
  color: #0d5191;
  font-weight: 600;
  margin-top: 1.5em; 
}*/

p {
  line-height: 1.5em;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 1em;
  color: #112f46;
}

#nationText {
  padding-bottom: 1em;
}

.homeQuestions {
  font-size: 27px;
}

#homeAnswer {
  text-align: left;
  line-height: 1.5em;
  font-weight: 500;
  font-size: 18px;
}


/*header text*/
h1 {
  color: #0d59a0; 
  text-align: center;
  padding: 0.5em;
  font-family: "Arimo", sans-serif;
  font-weight: 700;
  font-size: 50px;
  
}

h2 {
  padding: 0.5em;
  margin-bottom: 0.3em;
  font-weight: 700;
  color: #064f93;
}

#factsTitle {
  color: #083c6d;
  margin-top: 1em;
}

#contactRep {
  font-size: 25px;
}

#nationsDonateHeader{
  font-size: 27px;
}

h3 {
  line-height: 1.5em;
  padding-bottom: 1.15em;
  font-size: 20px;
  color: #1d364e;
}

#takeActionDesc {
  padding-bottom: 1em;
}



/* STYLE IMAGES */
img {
  max-height: 80%;
  width: 100%;
  margin-left: auto;
  margin-right:auto;
  padding-bottom: 1em;
}

.homeImages {
  display: flex;
}

.homePic {
  flex: 50%;
  padding: 12px;
  filter: drop-shadow(0 0 0.30rem #132a4e);
}


/* STYLE NAV BAR */
ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #0a5ca9; /*005280*/
  padding: 1em;
  text-align: right;
}

li {
  display: inline;
}


li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 1em;
  font-family: 'Karla', serif;
  font-weight: 500;
}


#quote {
  padding-top: 1em;
  color: #161a1d;
  margin-bottom: 1.3em;
}




/* STYLE BUTTONS */
button { 
  /*width: 100%;*/
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  
  background-color: #066ca2;
  color: #011b55;
  border-style: none;
  border-radius: 12px;
  cursor: pointer;

  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 18px;
}

/* ADD MORE! */
div{
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

/*Questions on my Home Page*/
#homeQuestionOne {
  border-radius: 12px;
  background-color: rgba(29, 131, 175, 0.25);
  background-radius: 5%;
  margin-bottom: 2em;
  margin-top: 1.1em;
}

#homeQuestionTwo {
  border-radius: 12px;
  background-color: rgba(27, 125, 177, 0.25);
  background-radius: 5%;
  margin-bottom:2em;
}
/*color: #1d83af*/

iframe {
  border: none;
  padding: 0.3em;
}

/*Fact Generator and Personalize It Extension*/
.factGenerator {
  background-color: rgba(14, 126, 175, 0.25);
  border-radius: 10px;
  margin-top: 1em;
  margin-bottom: 1.5em;
  color: #0659a7;
}


#centerInput {
  background-color: rgba(12, 142, 198, 0.25);
  padding-top: 1.5em;
  margin-bottom: 1.5em;
}

#message {
  padding-top: 0.5em;
  text-align: left;
  font-weight: 600;
  color: #013551;
}

#inputBtn {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  margin-left: 0.5em;
  
  background-color: #085077;
  color: #94d8e5;
  border-style: none;
  border-radius: 6px;
  cursor: pointer;

  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 18px;

}

/*The code below is for the containters about Donations on my  Other Nations Page*/
.nationsDonate {
  border-radius: 10px;
  background-color: rgba(29, 131, 175, 0.25);
  background-radius: 5%;
  margin-bottom: 2em;
  margin-top: 1.1em;
  margin-left: 1em;
  margin-right: 1em;
  font-size: 18px;
  color: #012f5b;
  font-weight: 500;
}

a:link {
  color: #063d5b;
}

a:hover {
  color: #e1eef9;
}